{{ register_asset_bundle('app/assets/AppAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <link href="/favicon.ico" rel="icon" type="image/x-icon"/>

    {{ html.csrfMetaTags | raw }}

    {% if this.title %}
        <title>{{ this.title }} — {{ app.params.title }}</title>
    {% else %}
        <title>{{ app.params.title }}</title>
    {% endif %}

    {{ void(this.head) }}
</head>

<body>

{{ void(this.beginBody()) }}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Placehold</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/woo">Woo</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/acme">Acme</a></li>
            </ul>
        </div>
    </div>
</nav>

{{ this.render('/etc/flash.twig') | raw }}

{{ content | raw }}

{{ void(this.endBody()) }}

</body>
</html>

{{ void(this.endPage()) }}
